body {
    font-family: 'Roboto', sans-serif;
}

.top {
    background-color: #020202;
    width: 375px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;  
    z-index: 1;  
}

.top h1 {
    color: #fa4098;
    font-size: 35px;
    line-height: 39.84px;
    font-family: 'Suez One', serif;
}

.message {
    width: 374px;
    height: 110px;
    position: fixed;
    top: 67px;
    left: 0px;
    font-size: 24px;
    line-height: 28px;
    background: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: black;
    font-weight: bold;
    z-index: 1;
}

.container {
    width: 374px;
    height: auto; 
    background: rgb(219,219,219);
    top: calc(67px + 110px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.movies {
    margin-top: 20px;
    width: 145px;
    height: 209px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgMovies {
    width: 129px;
    height: 193px;
}